body{
  background-attachment: fixed;
  background-size:80% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
#escoger{
  display: flex;
  justify-content: center;
  color: #070707;
  text-shadow: 2px 2px 5px rgb(226, 43, 43);
  font-size: 180%;
}
.boton{
  display: inline-block;
  justify-content: center;
  align-content: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(7, 7, 7);
  background-color:transparent;
  padding: 2px 8px;
  border: 2px solid #990000;
  text-decoration: none;

}
.titulo{
  display: flex;
  justify-content: center;
  color: #070707;
  text-shadow: 2px 2px 5px #990000;
  margin-top: 8%;
  font-size: 300%;
}
#titulo1{
  color: #070707;
  text-align: center;
  font-size: 400%;
  text-shadow: 2px 2px 5px #990000;
  margin-top: 5%;
}
.etiqueta{
  display: flex;
  justify-content: center;
  color: #070707;
  text-shadow: 2px 2px 5px #990000;
  font-size: 200%;
}
.box{
  display: flexbox;
  justify-items: center;
  align-items: center;
}
textarea{
  width:400px;
  height:50px;
  border: 2px solid #990000;
}
#bienvenida{
  color: #070707;
  text-align: center;
  font-size: 250%;
  font-family: 'coda';
}